*.lisp#
*.h~
*.lisp~
test/lambda/lambda.o
test/lambda/lambda.lo
/test/method/.libs
/test/method/.libs
test/method/method.o
test/method/method_main.lo
test/method/method_main.o
test/method/method.o
/test/lambda/.libs
*.o
*.o
/test/method/.libs
.\#backend.lisp
.\#specifier.lisp
*.lo
test/basic_main
test/lambda/lambda.c.run1.c
test/lambda/lambda.c.run2.c
test/lambda/lambda.c.run3.c
test/method/main.c.run1.c
test/method/main.c.run2.c
test/method/main.c.run3.c
test/method/method.c.run1.c
test/method/method.c.run2.c
test/method/method.c.run3.c
test/lambda/defer.c.run1.c
test/lambda/defer.c.run2.c
test/lambda/defer.c.run3.c
test/lambda/defer_main
test/control.c.run1.c
test/control.c.run2.c
test/control.c.run3.c
test/main
/test/main.dSYM
test/sha1/sha1.c.run1.c
test/sha1/sha1.c.run2.c
test/sha1/sha1.c.run3.c
test/var.c.run1.c
test/var.c.run2.c
test/var.c.run3.c
.DS_Store
test/.libs/libMyMath.a
test/.libs/libMyMath.la
test/CompileTest
test/libMyMath.la
test/main.c.run1.c
test/main.c.run2.c
test/main.c.run3.c
test/obj1.c.run1.c
test/obj1.c.run2.c
test/obj1.c.run3.c
test/obj2.c.run1.c
test/obj2.c.run2.c
test/obj2.c.run3.c
test/obj3.c.run1.c
test/obj3.c.run2.c
test/obj3.c.run3.c
test/\#main.c\#
test/course.c.run1.c
test/course.c.run2.c
test/course.c.run3.c
test/.DS_Store
test/lambda/.DS_Store
test/method/.DS_Store
test/sha1/.DS_Store
test/test.lisp
test/main.c
test/multi.c.run1.c
test/multi.c.run2.c
test/multi.c.run3.c
test/basic.c.run1.c
test/basic.c.run2.c
test/basic.c.run3.c
test/lambda/main
test/method/main
test/module/main
test/module/main.c.run1.c
test/module/main.c.run2.c
test/module/main.c.run3.c
test/module/module.c.run1.c
test/module/module.c.run2.c
test/module/module.c.run3.c
test/macro/basic-macro.c.run1.c
test/macro/basic-macro.c.run2.c
test/macro/basic-macro.c.run3.c
test/macro/main.dSYM/Contents/Info.plist
test/macro/main.dSYM/Contents/Resources/DWARF/main
test/macro/main.dSYM/Contents/Resources/Relocations/x86_64/main.yml
test/macro/main
test/macro/.\#basic.lisp
test/list.c.run1.c
test/list.c.run2.c
test/list.c.run3.c
test/macro/charlist.c.run1.c
test/macro/charlist.c.run2.c
test/macro/charlist.c.run3.c
test/macro/router.c.run1.c
test/macro/router.c.run2.c
test/macro/router.c.run3.c
.\#builtins.lisp
test/macro/app.c.run1.c
test/macro/app.c.run2.c
test/macro/app.c.run3.c
test/macro/fastcgi_server
test/macro/webserver.c.run1.c
test/macro/webserver.c.run2.c
test/macro/webserver.c.run3.c
lib/std/.\#slice.lisp
lib/std/cicili_string.c.run1.c
lib/std/cicili_string.c.run2.c
lib/std/cicili_string.c.run3.c
lib/std/cicili_bytevector.c.run1.c
lib/std/cicili_bytevector.c.run2.c
lib/std/cicili_bytevector.c.run3.c
lib/std/string_test
lib/std/tests/string_test.c.run1.c
lib/std/tests/string_test.c.run2.c
lib/std/tests/string_test.c.run3.c
lib/std/tests/string_test.c.run4.c
lib/std/tests/string_test.c.run5.c
lib/std/tests/string_test.c.run6.c
lib/std/tests/string_test.c.run7.c
lib/std/tests/bytevector_test.c.run1.c
lib/std/tests/bytevector_test.c.run2.c
lib/std/tests/bytevector_test.c.run3.c
lib/std/tests/bytevector_test.c.run4.c
lib/std/tests/slice_test.c.run1.c
lib/std/tests/slice_test.c.run2.c
lib/std/tests/slice_test.c.run3.c
lib/std/tests/slice_test.c.run4.c
lib/std/tests/string_test
lib/std/tests/slice_test
lib/std/tests/bytevector_test
lib/std/cicili_intslice.c.run1.c
lib/std/cicili_intslice.c.run2.c
lib/std/cicili_intslice.c.run3.c
lib/std/cicili_tf.c.run1.c
lib/std/cicili_tf.c.run2.c
lib/std/cicili_tf.c.run3.c
lib/std/cicili_tensorslice.c.run1.c
lib/std/cicili_tensorslice.c.run2.c
lib/std/cicili_tensorslice.c.run3.c
lib/std/cicili_tensor.c.run1.c
lib/std/cicili_tensor.c.run2.c
lib/std/cicili_tensor.c.run3.c
lib/std/cicili_tf.c.run4.c
lib/std/TensorFlow/.\#model.lisp
lib/std/TensorFlow/.\#optimizer.lisp
test/macro/generic.c.run1.c
test/macro/generic.c.run2.c
test/macro/generic.c.run3.c
lib/std/Slice/cicili_borrowableslice.c.run1.c
lib/std/Slice/cicili_borrowableslice.c.run2.c
lib/std/Slice/cicili_borrowableslice.c.run3.c
lib/std/tests/genericslice_test.c.run1.c
lib/std/tests/genericslice_test.c.run2.c
lib/std/tests/genericslice_test.c.run3.c
lib/std/Slice/cicili_bytevector.c.run1.c
lib/std/Slice/cicili_bytevector.c.run2.c
lib/std/Slice/cicili_bytevector.c.run3.c
lib/std/Slice/cicili_intslice.c.run1.c
lib/std/Slice/cicili_intslice.c.run2.c
lib/std/Slice/cicili_intslice.c.run3.c
lib/std/Slice/cicili_string.c.run1.c
lib/std/Slice/cicili_string.c.run2.c
lib/std/Slice/cicili_string.c.run3.c
lib/std/tests/cicili_borrowableslice.c.run1.c
lib/std/tests/cicili_borrowableslice.c.run2.c
lib/std/tests/cicili_borrowableslice.c.run3.c
lib/std/tests/.\#tf_test.lisp
.\#target.lisp
lib/std/tests/genericvector_test
lib/std/tests/vector_test
lib/std/tests/tf_test
*.c~
test/module/.\#module.lisp
test/cpp/main.dSYM/Contents/Info.plist
test/cpp/main.dSYM/Contents/Resources/DWARF/main
test/cpp/main.dSYM/Contents/Resources/Relocations/x86_64/main.yml
test/cpp/main
test/cpp/mnist.cpp.run1.cpp
test/cpp/mnist.cpp.run2.cpp
test/cpp/.\#mnist.lisp
test/cpp/mnist.cpp.run3.cpp
